{% extends "base.html" %}
{% block body %}
 
<div class="content-section col-md-8 col-md-offset-2">
  <form method="POST">
    {% csrf_token %}
    {{form.non_field_errors}}
    <fieldset class="form-group">
      <div class="form-control m-1">
        {{form.username.errors}}
        <label for="{{ form.username.id_for_label }}">Username:</label>
        {{form.username}}
      </div>
      <div class="form-control m-1">
        {{form.phone_no.errors}}
        <label for="{{ form.phone_no.id_for_label }}">Phone number:</label>
        {{form.phone_no}}
      </div>
      <div class="form-control m-1">
        {{form.password1.errors}}
        <label for="{{ form.password1.id_for_label }}">Password:</label>
        {{form.password1}}
      </div>
      <div class="form-control m-1">
        {{form.password2.errors}}
        <label for="{{ form.password2.id_for_label }}">Confirm Password:</label>
        {{form.password2}}
      </div>
    </fieldset>
    <button type="submit" class="btn btn-primary m-1">Sign up</button>
    <br />
    <sub><a href="{% url "login" %}">Already have an account ?</a></sub>
  </form>
</div>
{% endblock body %}

