{% extends "base.html" %}
{% load static %}
{% block body %}
<div class="card-body bg-primary">
<div class="column">
    <div class="col-lg-4 mt-3 mb-1">
        <div class="card bg-body-secondary">
            <div class="card-body">
                <h3 class="card-title">Cool pizza</h3>
                <p class="card-text">bottom text</p>
                <img
                    src="{% static 'images/pizza-default.jpg' %}"
                    class="img-fluid rounded-top"
                    alt=""
                />
                
            </div>
        </div>
    </div>
    <div class="col-lg-4 mt-3 mb-1">
        <div class="card bg-body-secondary">
            <div class="card-body">
                <h3 class="card-title">Title</h3>
                {% for pizza in pizzas %}
                <ul class="list-group list-group">
                    <li class="list-group-item">Size: {{pizza.size}}</li>
                    <li class="list-group-item">Crust: {{pizza.crust}}</li>
                    <li class="list-group-item">Sauce: {{pizza.sauce}}</li>
                    <li class="list-group-item">Cheese: {{pizza.cheese}}</li>
                    <li class="list-group-item">
                        <p>Ingredients:</p>
                        <ul class="list-group list-group-numbered">
                            {% if pizza.pepperoni == True %}<li class="list-group-item">Pepperoni</li>{% endif %}
                            {% if pizza.chicken == True %}<li class="list-group-item">Chicken</li>{% endif %}
                            {% if pizza.ham == True %}<li class="list-group-item">Ham</li>{% endif %}
                            {% if pizza.pineapple == True %}<li class="list-group-item">Pineapple</li>{% endif %}
                            {% if pizza.peppers == True %}<li class="list-group-item">Peppers</li>{% endif %}
                            {% if pizza.mushrooms == True %}<li class="list-group-item">Mushrooms</li>{% endif %}
                            {% if pizza.onions == True %}<li class="list-group-item">Onions</li>{% endif %}
                        </ul>
                    </li>
                </ul>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
</div>

{% endblock body %}