{% extends "base.html" %}
{% load static %}
{% block body %}
<div class="card-body bg-primary">
<div class="column">
    <div class="col-lg-4 mt-3 mb-1">
        <div class="card bg-body-secondary">
            <div class="card-body">
                <h3 class="card-title">Cool pizza</h3>
                <p class="card-text">bottom text</p>
                <img
                    src="{% static 'images/pizza-default.jpg' %}"
                    class="img-fluid rounded-top"
                    alt=""
                />
                
            </div>
        </div>
    </div>
    {% if user.is_authenticated %}
    <div class="col-lg-4 mt-3 mb-1">
        <div class="card bg-body-secondary">
            <div class="card-body">
                <h3 class="card-title">Previous orders:</h3>
                {% for order in orders %}
                <ul class="list-group list-group">
                    <li class="list-group-item">Size: {{order.pizza.size}}</li>
                    <li class="list-group-item">Crust: {{order.pizza.crust}}</li>
                    <li class="list-group-item">Sauce: {{order.pizza.sauce}}</li>
                    <li class="list-group-item">Cheese: {{order.pizza.cheese}}</li>
                    <li class="list-group-item">
                        <p>Ingredients:</p>
                        <ul class="list-group list-group-horizontal">
                            {% if order.pizza.pepperoni == True %}<li class="list-group-item">Pepperoni</li>{% endif %}
                            {% if order.pizza.chicken == True %}<li class="list-group-item">Chicken</li>{% endif %}
                            {% if order.pizza.ham == True %}<li class="list-group-item">Ham</li>{% endif %}
                            {% if order.pizza.pineapple == True %}<li class="list-group-item">Pineapple</li>{% endif %}
                            {% if order.pizza.peppers == True %}<li class="list-group-item">Peppers</li>{% endif %}
                            {% if order.pizza.mushrooms == True %}<li class="list-group-item">Mushrooms</li>{% endif %}
                            {% if order.pizza.onions == True %}<li class="list-group-item">Onions</li>{% endif %}
                        </ul>
                    </li>
                </ul>
                {% endfor %}
            </div>
        </div>
    </div>
    </div>
    {% endif %}
    
</div>

{% endblock body %}